/* 
                                            CSS BASICS    
*/

/* 
    - CSS is a language used to describe the style the webpage
    - HTML is a Markup language used to describe the structure of the webpage
    - JS is a programming language used to describe the functionality of the webpage 

### How do we add style to webpage..?
    - Style → adding/changing the text-color, font-family, border layout so on..
    - We add style to any wepage using “CSS Properties”
    - First of all, we need something so that we can add these styles using properties on that
        - i.e., why we 1st need HTML to lay the structure/foundation so that we can add style to it
*/

h1 {
    color: blue;
}
/* 
    - h1    -> (Selector)   => selector is an element which needs to be styled
    - color -> (Property)   => style property which needs to be added to that selector
    - blue  -> (Value)      => property value to be applied as style
*/

h1 {
    color: blue;
    background-color: bisque;
}
button {
    color: lightseagreen;
}